/* CSS */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

:root {
  /* COLOURS */
  --lightblue: #EFF4FA;
  --lightgreen: #F7F8EC;

  /*LINES*/
  --lightline: 0.1vmin;

  /*Padding*/
  --padding: 1.36em;
}

/*--------------------------------------------------------------
                            CSS Reset
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
  margin: 0;
  /* font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  */
}

img {
	display: block;
	width: auto;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
                        Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/*--------------------------------------------------------------
                     Typography Tags
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7, {
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/

.main-content {
	background: white;
  padding: 2em;
  margin: 0 auto;
}

/* META */

.pad1 {
  padding: var(--padding);
}

/* ================
 HERO
================ */

.hero {
  height: 90vh;
  position: relative;
  padding: 4em 0;
}

.title-block {
  z-index: 1000;
  top: 3em;
  left: -1em;
  position: relative;
}

.title-name {
  position: relative;
  top: 8px;
  margin: 0;
  padding: 0;
  font-size: calc(2vmin + 1em);
  white-space: nowrap;
  font-size: 1.5625em;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.title-desc {
  margin: 0;
  padding: 0;
  font-size: calc(3vmin + 1em);
  white-space: nowrap;
  color: rgb(248, 129, 17);
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.maphead-bg {
  background-size: contain;
  background-color: azure;
  width: 54vmin;
  height: 65vmin;
  z-index: 500;
  overflow: hidden;
  left: 3em;
  margin-bottom: 6em;
  pointer-events: unset;
}

/* Places a Dot on the map, used for position of new locations off by default */
.dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: black;
  top: 32.5vmin;
  left: 27vmin;
}

.maphead {
  width: 65vmin;
  height: 65vmin;
  position: relative;
  /* Backup colour */
  background-color: azure;
  background: url("../images/maphead.svg");
  background-size: contain;
  z-index: 999;
  overflow: hidden;
}

.leaflet-bottom {
  z-index: -1;
}

/* CONTACTS */

.btn {
  position: relative;
  font-size: calc(3vmin + 1em);
  margin: 0.3vmin 0.5vmin;
  top: 0;
  transition: top ease-in 200ms;
}

.btn:hover {
  top: -2px;
}

.contact-link {
  text-decoration: none;
  color: black;
}

/* SUMMARY */

.summary {
  height: 30vh;
  background: url("../images/topography.svg");
  background-color: #F9F1EA;
  display: flex;
  flex-direction: column;
  z-index: -100;
}

.sum-middle {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em 2vmin;
  text-align: center;
  margin-top: 4em;
  position: relative;
  width: 100%;
}

.whiteArrow {
  overflow: auto;
  position: absolute;
  border-style: solid;
  border-width: 8vh calc(20vmin + 3em) 0 calc(20vmin + 3em);
  border-color:white transparent transparent transparent;
  top: 90vh;
}

.nav-down {
  position: absolute;
  font-size: 58px;
  top: 90vh;
}

.nav-down-link {
  color: black;
}

/*--------------------------------------------------------------
                     Filter Buttons
--------------------------------------------------------------*/

.filter-btn {
	font: inherit;
  border: none; 
	cursor: pointer;
  padding: 0.6em 1.3em;
  background-color: #79a6f6;
  color: white;
  font-size: calc(1.5vmin + 0.3em);
  font-weight: bold;
}

.filter-btn:hover {
  background-color: #5392ff;
}

.filter-selected {
  background-color: #5392ff;
}



/*--------------------------------------------------------------
                     Card, Thumbs and Btn
--------------------------------------------------------------*/

.card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-list li {
  padding: 5px 0;
  border-bottom: 1px solid black;
}

.card-list li:last-child {
  border-bottom: none;
}

.card-title {
  margin: 0 0 0 0;
  padding: 0;
  line-height: 1.3em;
}

.card-btn-text {
  margin: .5em 0;
  padding: 0;
  font-weight: bold;
}

.card {
  position: relative;
  width: 100%;
  height: calc(25vmin + 12em);
  background-color: white;
 }

 .card-frame {
  position: relative;
  width: 100%;
  height: 67%;
  padding: 0.5em;
 }


.card-img {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-thumb:hover {
  opacity: 0.93;
}

.card-info {
  position: relative;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: white;
}

.card-title {
  margin: 0.1em 0.5em;
}

.card-toolbox {
  font-size: calc(0.7vmin + 0.6em);
  margin: 0 1em;
}

.card-btn {
  height: calc(3vmin + 1em);
  background-color: #79a6f6;
  color: white;
  font: inherit;
  border: none; 
	cursor: pointer;
  padding: 0.6em 1.3em;
  font-size: calc(1.3vmin + 0.5em);
  font-weight: bold;
}

.card-btn:hover {
  background-color: #5392ff;
}

.card-thumb:hover {
  position: relative;
  bottom: 1px;
}

.card-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

/*--------------------------------------------------------------
      If no grid support, limit width and center align all
--------------------------------------------------------------*/

@supports not (display: grid) {
  .main-content {
    max-width: 42em;
    margin: 0 auto;
  }

  .card-list li {
    margin: .5em 0;
    padding: 1em 0;
  }
}

/*--------------------------------------------------------------
                       CSS Grid layout
--------------------------------------------------------------*/

@supports (display: grid) {
  @media screen and (min-width: 600px) {

    .main-content {
      max-width: 80%;
    }
    
    .projects-grid {
      display: grid;
      grid-gap: 5vmin;
      grid-template-columns: repeat(auto-fill, 1fr);
      grid-auto-rows: minmax(100px, 1fr);
      grid-auto-flow: row dense;
    }
    
    .card-twitch {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-simon {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-leaf {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-quote {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-9 {
      grid-column: span 2;
      grid-row: span 1;
    }
  }
}

@supports (display: grid) {
  @media screen and (min-width: 1100px) {

    .card-1 {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-2 {
      grid-column: span 1;
      grid-row: span 1;
    }
    
    .card-4 {
      grid-column: span 1;
      grid-row: span 1;
    }
    
    .card-5 {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-9 {
      grid-column: 1 / span 3;
      grid-row: span 1;
    }
  }
}
  
@supports (display: grid) {
  @media screen and (min-width: 1200px) {
    
    .projects-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    
    .card-1 {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-2 {
      grid-column: span 1;
      grid-row: span 1;
    }
    
    .card-3 {
      grid-column: span 1;
      grid-row: span 1;
    }
    
    .card-4 {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-5 {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-9 {
      grid-column: span 2;
      grid-row: span 1;
    }
  }
}

/* FOOTER */

.footer {
  padding: var(--padding);
  background-color: white;
  height: 10vh;
  background: url("../images/topography.svg");
  background-color: #F9F1EA;
  z-index: -10;
}

/*--------------------------------------------------------------
 UTILITY 
--------------------------------------------------------------*/

.centroid-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text {
  text-align: center;
}

.center-auto {
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noTextDecoration {
    text-decoration: none;
}

.hidden {
  display: none;
}

.hidden-project {
  display: none;
}