/* CSS */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

:root {
  /* COLOURS */
  --lightblue: #EFF4FA;
  --lightgreen: #F7F8EC;

  /*LINES*/
  --lightline: 0.1vmin;

  /*Padding*/
  --padding: 1.36em;
}

/*--------------------------------------------------------------
                            CSS Reset
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
  margin: 0;
  /* font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  */
}

/* body {
  display: flex;
  flex-direction: column;
  margin: 0;
} */

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
                        Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}


/*--------------------------------------------------------------
                     Typography Tags
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

/* h1 {
  font-size: 9vmin;
  margin: auto;
  position: absolute;
  top: 55%;
  left: -20vmin;
  z-index: 2001;
}

h1::after {
  content: "";
  border: var(--lightline) solid black;
  position: absolute;
  bottom: 10%;
  left: 10%;
  right: 1%;
}

h2 {
  font-size: 4vmin;
  margin: 1vmin;
  position: relative;
}

h3 {
  font-size: calc(3vmin + 1em);
  margin: 1vmin;
  position: relative;
}

h4 {
  margin: 1vmin 0;
  font-size: calc(2vmin + 0.5rem);
  line-height: calc(3vmin + 0.5rem);
}

h5 {
  font-size: calc(3vmin + 0.6rem);
  margin: 1vmin;
} */


/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/

.masthead {
  padding: 2em;
  background: #272427;
  text-align: center;
}

.masthead img {
  width: 180px;
  margin: 0 auto;
}

.site-title {
  margin: 1em 0 0;
  padding: 0;
  font-size: 1.5625em;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #c96;
}

.site-description {  
  margin: 0 0 1em;
  padding: 0;
  font-size: 1em;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  color: hsla(0,0%,100%,.6);
}

.page-title {
  text-align: center;
  background-image: url(https://2017.europe.wordcamp.org/files/2017/01/background-pattern-01.png);
  background-color: #f5ebe0
}

.main-content {
	background: white;
  padding: 2em;
  margin: 0 auto;
}

.card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-list li {
  margin: .5em 0;
  padding: 1em 0;
  border-top: 1px solid black;
}

.card-list li:first-child {
  border-top: none;
}

.card-title {
  margin: 0 0 0 0;
  padding: 0;
  line-height: 1.3em;
}

.card-desc {
  margin: .5em 0;
  padding: 0;
}

.card-btn-text {
  margin: .5em 0;
  padding: 0;
  font-weight: bold;
}

.col-orphan {
	padding: 1em 2em;
  background: #272427;
	color: white;
}

.col-orphan a {
	color: white;
}

.col-orphan a:hover,
.col-orphan a:focus {
  border-bottom: 1px solid white;
}


/* META */

.pad1 {
  padding: var(--padding);
}

/* ================
 HERO
================ */

.hero {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-items: center;
  position: relative;
}

.title-info {
  display: flex;
  position: absolute;
  top: 70%;
  left: -12vmin;
  height: 6vmin;
  z-index: 2001;
}

.title-name {
  margin: auto;
  position: absolute;
  top: 51%;
  left: -9vmin;
  z-index: 2001;
}

.map-pos {
  position: relative;
  left: 10%;
}

.maphead-bc {
  background-size: contain;
}

#map {
  width: 59vmin;
  height: 65vmin;
  z-index: 1;
}

.maphead {
  width: 65vmin;
  height: 65vmin;
  position: relative;
  /* Backup colour */
  background-color: var(--lightblue);
  background: url("../images/maphead.svg");
  background-size: contain;
  z-index: 1001;
  }
  

.leaflet-bottom {
  z-index: -1;
  }

/* CONTACTS */

.btn {
  position: relative;
  font-size: calc(3vmin + 1em);
  margin: 0.3vmin 0.5vmin;
  top: 0;
  transition: top ease-in 200ms;
}

.btn:hover {
  top: -2px;
}

.contact-link {
  text-decoration: none;
  color: black;
}

/* SUMMARY */

.summary {
  height: 30vh;
  background: url("../images/topography.svg");
  background-color: #F9F1EA;
  display: flex;
  flex-direction: column;
  z-index: -10;
}

.sum-middle {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em 8vmin;
  border-radius: 3px; 
  text-align: center;
  margin-top: 4em;
  position: relative;
}

.whiteArrow {
  overflow: auto;
  position: absolute;
  border-style: solid;
  border-width: 8vh calc(20vmin + 3em) 0 calc(20vmin + 3em);
  border-color:white transparent transparent transparent;
  top: 90vh;
}

.nav-down {
  position: absolute;
  font-size: 58px;
  top: 90vh;
}

.nav-down-link, nav-down-link:visited, nav-down-link:hover, nav-down-link:active {
  color: black;
}

/*--------------------------------------------------------------
                     Card, Thumbs and Btn
--------------------------------------------------------------*/

.card {
 }

.card-thumb {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(30vmin + 4em);
  position: relative;
  margin: 1em;
}

.card-thumb:hover {
  opacity: 0.93;
}

.card-btn {
  background-color: #79a6f6;
  color: white;
  padding: 0.6em 1.1em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc(1.5vmin + 0.5em);
}

.card-btn:hover {
  background-color: #5392ff;
}

.card-thumb:hover {
  position: relative;
  bottom: 2px;
}


/*--------------------------------------------------------------
      If no grid support, limit width and center align all
--------------------------------------------------------------*/
@supports not (display: grid) {
  .main-content {
    max-width: 42em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
                       CSS Grid layout
--------------------------------------------------------------*/

@supports (display: grid) {
  @media screen and (min-width: 600px) {

    .main-content {
      max-width: 80%;
    }
    
    .projects-grid {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(auto-fill, 1fr);
      grid-auto-rows: minmax(100px, 1fr);
      grid-auto-flow: row dense;
    }
    
    .card-twitch {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-simon {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-leaf {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-quote {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-9 {
      grid-column: span 2;
      grid-row: span 1;
    }
  }
}

/* TODO Rework the grid scale names */

@supports (display: grid) {
  @media screen and (min-width: 1100px) {

    .card-1 {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-2 {
      grid-column: span 1;
      grid-row: span 1;
    }
    
    .card-4 {
      grid-column: span 1;
      grid-row: span 1;
    }
    
    .card-5 {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-9 {
      grid-column: 1 / span 3;
      grid-row: span 1;
    }
  }
}
  
@supports (display: grid) {
  @media screen and (min-width: 1200px) {
    
    .projects-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }
    
    .card-1 {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-2 {
      grid-column: span 1;
      grid-row: span 1;
    }
    
    .card-3 {
      grid-column: span 1;
      grid-row: span 1;
    }
    
    .card-4 {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-5 {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .card-9 {
      grid-column: span 2;
      grid-row: span 1;
    }
  }
}


/* FOOTER */

.footer {
  padding: var(--padding);
  background-color: #ECF7FC;
  flex-shrink: 0;
}


/* === GRID === */

/*--------------------------------------------------------------
 UTILITY 
--------------------------------------------------------------*/

.centroid-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text {
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noTextDecoration {
    text-decoration: none;
}