/* CSS */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
        /* &text=GF */

:root {
  /* COLOURS */
  --lightblue: #61DFE4;
  --lightgreen: #f1ffe9;

  /*LINES*/
  --lightline: 0.1vmin;
}

html {
    box-sizing: border-box;

  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* META */

.pad1 {
  padding: 1rem;
}


/* HERO */
.hero {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-items: center;
  position: relative;
}

.title-info {
  display: flex;
  position: absolute;
  top: 70%;
  left: -9vmin;
  height: 6vmin;
  z-index: 2001;
}

h1 {
  font-size: 9vmin;
  margin: auto;
  position: absolute;
  top: 55%;
  left: -20vmin;
  z-index: 2001;
}

h2 {
  font-size: 4vmin;
  margin: 1vmin;
  position: relative;
}

h4 {
  margin: 1vmin;
  font-size: calc(1vmin + 0.5rem);
  line-height: calc(3vmin + 0.5rem);
}

.title-name {
  margin: auto;
  position: absolute;
  top: 51%;
  left: -9vmin;
  z-index: 2001;
}

h1::after {
  content: "";
  border: var(--lightline) solid black;
  position: absolute;
  bottom: 10%;
  left: 10%;
  right: 1%;
}

.map-pos {
  position: relative;
  left: 6%;
}

.maphead-bc {
  background-size: contain;
}

#map {
  width: 59vmin;
  height: 65vmin;
  z-index: 1;
}

.maphead {
  width: 65vmin;
  height: 65vmin;
  position: relative;
  /* Backup colour */
  background-color: var(--lightblue);
  background: url("../images/maphead.svg");
  background-size: contain;
  z-index: 1001;
  }
  

.leaflet-bottom {
  z-index: -1;
  }

/* CONTACTS */

.btn {
  position: relative;
  font-size: 5vmin;
  margin: 0.3vmin 0.5vmin;
  top: 0;
  transition: top ease-in 250ms;
}

.btn:hover {
  top: -0.5vmin;
}

.contact-link {
  text-decoration: none;
  color: black;
}

/* SUMMARY */

.summary {
  background-color: var(--lightblue);
  height: 40vh;
  background: url("../images/topography.svg");
  background-color: var(--lightgreen);
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: -10;
}

.summary::before {
  overflow: auto;
  position: relative;
  content: '';
  border-style: solid;
  border-width: 7vh calc(10vmin + 6em) 0 calc(10vmin + 6em);
  border-color:white transparent transparent transparent;
  bottom: 1.55em;
}

.sum-middle {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1vmin 3vmin;
  border: 0.04em solid grey;
  border-radius: 3vmin; 
  text-align: center;
  width: 50vmin;
  top: -2vmin;
  position: relative;
}

/* PROJECTS */

.projects {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.projects-container {
  display: grid;
  grid-column: 2;
  grid-template-columns: repeat(auto-fit, minmax(calc(30.5vmin + 4vh), 1fr));
  grid-auto-rows: minmax(auto, 1fr);
  grid-gap: 5vmin;
  margin: 5vmin 0;
}

.card {
  max-width: 400px;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr 1fr;
  grid-template-areas: 
  "title title title"
  ". image ."
  "desc desc desc"
  ". . meta";
  transition: all 0.3s ease-in;
}

.card-title {
  grid-area: title;
}

.card-img {
  grid-area: image;
  background-color: #61DFE4;
  width: 100%;
  justify-self: center;
}

.card-desc {
  grid-area: desc;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.footer {
  height: 50vmin;
  background-color: lightblue;
  flex-shrink: 0;
}


/* UTILITY */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.boxShadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}