/* CSS */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

:root {
  /* COLOURS */
  --lightblue: #EFF4FA;
  --lightgreen: #F7F8EC;

  /*LINES*/
  --lightline: 0.1vmin;

  /*Padding*/
  --padding: 1.36em;
}

/* RESETS */

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* META */

.pad1 {
  padding: var(--padding);
}


/* HERO */
.hero {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-items: center;
  position: relative;
}

.title-info {
  display: flex;
  position: absolute;
  top: 70%;
  left: -12vmin;
  height: 6vmin;
  z-index: 2001;
}

h1 {
  font-size: 9vmin;
  margin: auto;
  position: absolute;
  top: 55%;
  left: -20vmin;
  z-index: 2001;
}

h2 {
  font-size: 4vmin;
  margin: 1vmin;
  position: relative;
}

h3 {
  font-size: calc(3vmin + 1em);
  margin: 1vmin;
  position: relative;
}

h4 {
  margin: 1vmin 0;
  font-size: calc(2vmin + 0.5rem);
  line-height: calc(3vmin + 0.5rem);
}

h5 {
  font-size: calc(3vmin + 0.6rem);
  margin: 1vmin;
}

.title-name {
  margin: auto;
  position: absolute;
  top: 51%;
  left: -9vmin;
  z-index: 2001;
}

h1::after {
  content: "";
  border: var(--lightline) solid black;
  position: absolute;
  bottom: 10%;
  left: 10%;
  right: 1%;
}

.map-pos {
  position: relative;
  left: 10%;
}

.maphead-bc {
  background-size: contain;
}

#map {
  width: 59vmin;
  height: 65vmin;
  z-index: 1;
}

.maphead {
  width: 65vmin;
  height: 65vmin;
  position: relative;
  /* Backup colour */
  background-color: var(--lightblue);
  background: url("../images/maphead.svg");
  background-size: contain;
  z-index: 1001;
  }
  

.leaflet-bottom {
  z-index: -1;
  }

/* CONTACTS */

.btn {
  position: relative;
  font-size: calc(3vmin + 1em);
  margin: 0.3vmin 0.5vmin;
  top: 0;
  transition: top ease-in 200ms;
}

.btn:hover {
  top: -2px;
}

.contact-link {
  text-decoration: none;
  color: black;
}

/* SUMMARY */

.summary {
  height: 30vh;
  background: url("../images/topography.svg");
  background-color: #F9F1EA;
  display: flex;
  flex-direction: column;
  z-index: -10;
}

.sum-middle {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em 8vmin;
  border-radius: 3px; 
  text-align: center;
  margin-top: 4em;
  position: relative;
}

.whiteArrow {
  overflow: auto;
  position: absolute;
  border-style: solid;
  border-width: 8vh calc(20vmin + 3em) 0 calc(20vmin + 3em);
  border-color:white transparent transparent transparent;
  top: 90vh;
}

.nav-down {
  position: absolute;
  font-size: 58px;
  top: 90vh;
}

.nav-down-link, nav-down-link:visited, nav-down-link:hover, nav-down-link:active {
  color: black;
}

/* PROJECTS */

.projects {
  padding: var(--padding);
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.projectTags {
  height: 5em;
  width: 100%;
  background-color: #ECF7FC;
  padding: 1em;
}

.btn-tag {
  color: white;
  padding: 8px;
  margin: 0 3px;
  font-size: calc(1em + 0.7vmin);
  border-radius: 3px;
  border: none;
  letter-spacing: 0.05vmin;
  background-color: lightskyblue;
  outline: none;
}

.btn-tag:hover {
  background-color: rgb(77, 185, 252);
  cursor: pointer;
}

/* PROJECTS > CARDS */

.card {
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-decoration: none;
  color: #444;
  top: 0;
  margin: 1em;
  transition: all .1s ease-in;
}

.card:hover {
  box-shadow: 0 6px 8px rgba(0,0,0,0.1);
  top: -2px;
}

.card-content {
  width: 100%;
  height: 100%;
}

.card-thumb {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(25vmin + 4em);
  position: relative;
  margin: 1em;
}

.card-thumb-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  position: block;
  opacity: 0.01;
  transition: opacity var(--time5ms) ease-in;
}

.card-thumb:hover .card-thumb-overlay{
  z-index: 3;
  opacity: 0.93;
  transition: opacity var(--time5ms) ease-out;
}

.card-article {
  padding: var(--padding);
}

.card-toolbox {
  font-size: calc(0.2vmin + 0.8em);
}

.card-btn-holder {
  position: absolute;
  bottom: 8px;
  padding: 5px 3px;
  border-radius: 3px;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.8);
}

.card-btn {
  color: white;
  width: 4em;
  height: 2em;
  padding: 8px;
  margin: 0 3px;
  font-size: calc(5px + 2vmin);
  border-radius: 3px;
  border: none;
  letter-spacing: 0.05vmin;
}

.demo {
  background-color: #0045A7;
}

.code {
  background-color: #701CA5;
}

.demo:hover {
  background-color: #336DBA;
  border-bottom: 2.5px solid rgb(91, 158, 245);
  cursor: pointer;
}

.code:hover {
  background-color: #9F46D0;
  border-bottom: 2.5px solid  rgb(197, 102, 248);
  cursor: pointer;
}

/* FOOTER */

.footer {
  padding: var(--padding);
  background-color: #ECF7FC;
  flex-shrink: 0;
}


/* === GRID === */








/* === GRID === */


/* UTILITY */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noTextDecoration {
    text-decoration: none;
}